<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="/styles.css" />
    <title>Document</title>
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="https://www.svgrepo.com/show/216693/bug.svg"
    />
  </head>
  <body>
    <section class="bug-form-section">
      <h1>Caught a bug?</h1>
      <button class="bug-form-btn">Generatge A Bug Report Form</button>
    </section>

    <section class="bug-list-section">
      <h1>Bug List</h1>
      <h4>Number of Bugs: <span class="number-of-bugs">0</span></h4>
      <div class="bug-list"></div>
    </section>
    <!-- Scripts -->
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Custom Scripts -->
    <script src="/script.js"></script>
  </body>
</html>
